<header class="topbar">
    <div class="left">
      <p>Sei un Admin?</p>
      <a href="http://localhost:4200/login"> Accedi 👤</a>"
    </div>
    <div class="right">
      <a href="https://www.instagram.com/" target="_blank">
        <i class="fab fa-instagram icon"></i>
      </a>
      <a href="https://maps.google.com/" target="_blank">
        <i class="fas fa-map-marked-alt icon"></i>
      </a>
      <a href="https://www.facebook.com/" target="_blank">
        <i class="fab fa-facebook icon"></i>
      </a>
    </div>
  </header>
  

<router-outlet></router-outlet>>

<footer>
<pre>
⚖ Privacy Policy | ⚖ Cookie Policy | © 2025 Pizzeria Gabrielino Pizza & Vino – P.IVA 0123456789

📍 Indirizzo: Via Napoli, 123 – Città
📞 Telefono: 012 345 6789
📧 Email: admin&#64;pizzaevino.com

🕒 Orari:
Martedì-Domenica: 18:00–23:00
</pre>
</footer>