h1 {
     padding : 2rem;
     text-align : center;
     font-size: 3rem;
     font-family : Fantasy;
     }

.text_box {
    background-color: rgba(158, 158, 158, 0.6); 
    color: white;
    padding: 1rem;
    margin: 50px;
    border-radius: 1rem;
    text-align: center;
    font-family: Cursive; 
    font-size : 1rem;
}


.text_box h2 {
    color: red;
}

.text_box p {
    font-size: 1.5rem;
}

.text_box a{
    font-size: 1.5rem;
    color: rgb(255, 234, 0);
}

.text_box a:hover{
    color: rgb(239, 139, 33);
}

form {
    background-color: #2b2c2f;
    color : white;
    padding: 2rem;
    max-width : 500px;
    margin : 0 auto;
    border-radius: 10px;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

th, td {
  padding: 1rem;
  border: 1px solid #ccc;
  text-align: center;
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #0056b3;
}
