h1 {
    text-align: center;
    margin: 1.5rem;
    font-size: 3rem;
    font-family: fantasy;
    color: #000000;
  }
  
  
  .reservation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
  }
  
.category-selector {
  margin-bottom: 30px;
}

.category-selector button {
  background-color: #ffc107;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.category-selector button:hover {
  background-color: #e0a800;
}

.category-selector button.active {
  background-color: #ff9800;
  font-weight: bold;
}
  
  .reservation-button {
    background-color: #ff7f50;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reservation-button:hover {
    background-color: #ff5c39;
  }
  
  .compiler-list {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(215, 216, 196);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;
    color: #555;
    margin-bottom: 8px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input:focus {
    border-color: #ff7f50;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 127, 80, 0.5);
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    background-color: #ff7f50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #ff5c39;
  }
  
  button[type="submit"]:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }

  h3{
    text-align: center;
    color: #333;
    margin: 30px;
  }

  .modRes-button {
    width: 40%;
    padding: 10px;
    background-color: #702c07;
    color: white;
    border: none;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  
  .modRes-button:hover {
    background-color: #ff5c39;
  }
  
  .modRes-button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
